/* blue = #0AA1D9 */
/* 
navbar-expand-sm = mobile menu on xs screens <576px
navbar-expand-md = mobile menu on sm screens <768px
navbar-expand-lg = mobile menu on md screens <992px
navbar-expand-xl = mobile menu on lg screens <1200px
navbar-expand = never use mobile menu
(no expand class) = always use mobile menu
 */
*{
    padding:0;
    margin:0;
}
body, html {
    height: 100%;
  }
.nav-bg{
    background-color:#0aa1d9 ;
}
.logo{
    background-color: black;
    
}
.logo a{
    text-align: center;
    padding:1rem;
    width: 100%;
    
}
.navbar{
    padding:0;
}
.navbar-toggler{
    /* background-color: black; */
    border-radius:0 ;

}
.navbar ul{
    display: flex;
    justify-items: center;
    justify-content: center;

}
.navbar ul li{
    /* border:solid 1px red; */
    height: 60px;
    transition: border-width 0.2s linear;
}
.navbar ul li:hover{
    /* color: black; */
    border-bottom: solid black; 
    border-width: 3px;
    
}
.navbar ul li a:hover{
    color:black;
}
.navbar ul li a{
    /* border:solid 1px red; */
    height: 58px;
    line-height: 45px; 
    color:white;
}
.nav ul li a:active{
    color: black;
}

/* .navbar ul li a:hover{
    color: black;
    border-bottom: solid 3px black;
    transition: ease-out 0.3s;
} */
.active-link{
    color: black;
    border-bottom: solid 3px black; 
}
.active-a{
    color: black;
}

.banner-logo img{
    margin-top: 10px;
    width: 75px;
    height: 75px;
}
.banner-logo h3{
   margin-top: 25px;
   margin-left: 15px;
}
.logout-bg{
    background-color: black;
    border-radius: 0;
    color:white;
}
/* --------------------------------------------------------------------- */
.banner-box{
    display: flex;
    margin-top: 10px;
    width:100%;
    height:auto;
    /* border:solid 1px red; */
    background-image: url('../images/diagonalbox.png');
    background-color:#0AA1D9 ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    justify-content: space-around;
    overflow: hidden;
 
}
.prereg-form{
   /* border:solid 1px red; */

    flex:1 1 25%;
    padding:30px;
    color:#0AA1D9;
   
    
}

.buttons{
    margin-top: 100px;
    display: flex;
    width: 100%;
    padding:10px;
    justify-content: space-around;
    flex-wrap: wrap;


}
.btn-top{
   width: 45%;
   border-radius: 20px;
   padding:5px;
   outline: none;
   background-color:#0AA1D9 ;
   color:white;
   border: none;
   transition: ease-in 0.1s;
  
}
.btn-top:focus{
    outline: none;
}
.btn-top:hover{
    background-color:rgb(38, 155, 197,0.8)  ;
}
.btn-bottom {
    width: 95%;
    margin-top: 20px;
    border-radius: 20px;
    padding:5px;
    background-color:rgba(255, 255, 255,1)  ;
    text-align: center;
}
.btn-bottom:hover{
    background-color:rgba(255, 255, 255,0.8) ;
    color:#0AA1D9;
    text-decoration: none;
}
.pre-enrollment-btn{
    text-align: center;
}
.pre-enrollment-btn:hover{
    color:white;
    text-decoration: none;
}

.btn-bottom:focus{
    outline:none;
}


.banner-logo{
    display: flex;
}
.bluebox{
    flex:0.5 1 30%;
}
.bluebox h1{
    /* border: solid   1px red; */
    margin-top: 100px;
    margin-left: 25px;

}

/* -------------------------------------------------------------------- */
footer{
    margin-top: 14px;
    display: flex;
    padding:1rem;
    background-color: #0AA1D9;
}
.theme{
    text-align: center;
}
.theme h3{
    margin-top: 20px;
    font-size: 20px;
}
.facebook{
    display:flex;
    padding:0.1rem;
  
}
.facebook p{

    margin-left: 10px;
    margin-bottom: 0;
}

.messenger{
    display: flex;
    padding:0.1rem;
}
.messenger p{
    margin-left: 10px;
    margin-bottom: 0;
}
.fab{
    font-size: 20px;
}
.fas{
    font-size: 20px;
}
.world{
    display: flex;
    padding:0.1rem;
}
.world p{
    margin-left: 10px;;
    margin-bottom: 0;
}

/* ---------------------------------end home css ---------------------------------*/

/* ---------------------------------start basic education css and college---------------------------------*/

.basiced-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color:#0AA1D9;
    
}
.basiced-container h1{
    background-color: black;
    color:#0AA1D9;
    text-align: center;
    padding:1rem;
}
.basiced-regform{
    padding-top:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;

}

.students-form, .parents-form{
   /* border: solid 1px red; */
   flex: 1 1 auto;
   padding:1rem;
   flex-direction: column;  
}

/* ---------------------------------end home basiced and college ---------------------------------*/

/* ---------------------------------start contact form---------------------------------*/
.contact-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#0AA1D9 ;
}
.contact-header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
    background-color: black;
    color: #0AA1D9;  
}

.contact-header p{
 
   margin: 0 auto;
   width: 50%;

}

.contact-form{
    padding-bottom:1rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.contact-form form{
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.border-0{
    border-radius: 0;
    
}
.bg-black{
    background-color: black;
}
.text-blue{
color:#0AA1D9 ;
}
.bg-blue{
    background-color: #0AA1D9; 
}
.textarea-label{
   padding:5px 13px;
   font-size: 14px;
}
.contact-textarea{
    margin: 0;
    padding-right:14px;
    padding-top:10px;
  
   
}
.contact-btn{
    padding:0.5rem;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    transition: 0.1s;
    background-color: black;
}
.contact-btn:hover{
    background-color: rgba(10, 10, 10, 0.9);
}
.contact-input{
 padding-right: 39px;
   
}
.subject-prefext{
    padding-right: 21px;
}
.message{
  
   width: 102%;
   
}






@media (max-width: 500px){
    .collpase .navbar-collapse{
        width: 300px;
        border-color: solid red 1px;
    }
    .banner-box{
        background-image: none;
        flex-direction: column;
        justify-content: flex-start;
        background-color: none;
        padding:20px;
     
    }
    .bluebox{
        /* border:solid 1px red; */
        padding:20px;
    }
    .bluebox h1{
        margin: 0;
        text-align: center;
    }
    .prereg-form{
        padding:20px;
        background-color: black;
    }
    .buttons{
        margin: 0;
        padding:0;
    }
   
}



@media (max-width: 768px){

    .banner-box{
        background-image: none;
        flex-direction: column;
        justify-content: flex-start;
        background-color: none;
        padding:20px;
       
     
    }
    .bluebox{
        /* border:solid 1px red; */
        padding:20px;
    }
    .bluebox h1{
        margin: 0;
        text-align: center;
    }
    .prereg-form{
        padding:20px;
        background-color: black;
    }
    .buttons{
        margin: 0;
        padding:0;
    }
    .navbar ul{
        margin-bottom: 20px;
    }
    .navbar ul li{
        /* border:solid 1px red; */
        height:40px;
    }
    .navbar ul li a{
        /* border:solid 1px red; */
        height:0px;
     
    }
    .navbar ul li a:hover{
        border:none;
    }
    .contact-form{
        width: 90%;
    }
    .message{
  
        width: 104%;
        
     }
     .basiced-regform{
         flex-direction: column;
     }
      .container{
        margin:0 auto;
        padding:0;
        width: 100%;;
    }
   
}